@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'Gotham';
  src: url('../Gotham-Bold.otf') format('opentype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.contact-container{
    display: flex;
    justify-content: center;
    padding: 0 63px;
}
.contact-mes-qey-container{
    width: 1400px;
    min-height: 718px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.contact-meslehet,.contact-qeydiyyat{
  width: 49%;
  background-color: #F3F3F3;
  border-radius: 32px;
  min-height: 718px;
}
.contact-meslehet h2{
  font-family: Gotham;
  font-size: 40px;
  font-weight: 700;
  width: 500px;
  margin-bottom: 28px;
  padding-left: 64px;
  padding-top: 80px;
}
.contact-meslehet img{
  width: 100%;
  height: 519px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
.contact-qeydiyyat{
  padding: 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact-def-text h2{
  font-family: Gotham;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.contact-def-text h6{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}
.contact-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-form input, .contact-form select{
  min-height: 56px;
  border-radius: 8px;
  border: none;
  padding: 10px 14px;
  outline: none;
}
.ad-soyad-inp{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ad-soyad-inp input{
  width: 48%;
}
.cont-ferdi-korp{
  display: flex;
  justify-content: space-between;
}
.cont-ferdi-korp div{
  width: 48%;
  height: 56px;
  background-color: #FFF;
}
.cont-ferdi-korp div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  border-radius: 8px;
}
.contact-form button{
  background-color: #0E0E0E;
  color: #FFF;
  padding: 16px 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}